.print-footer {
  background-color: #000000;
}

.foote-logo-section img {
  margin-top: 25px;
  margin-bottom: 25px;
}

.social-icon {
  height: 28px;
  width: 28px;
  margin: 0 10px;
}

.ig {
  background: url("../img/icon/sprite-social-white.png");
  transition: 500ms;

  &:hover {
    transition: 500ms;
    background: url("../img/icon/sprite-social.png");
  }
}

.fb {
  background: url("../img/icon/sprite-social-white.png") 0px -28px;
  transition: 500ms;

  &:hover {
    background: url("../img/icon/sprite-social.png") 0px -28px;
    transition: 500ms;
  }
}
.tg {
  background: url("../img/icon/sprite-social-white.png") 0px -56px;
  transition: 500ms;

  &:hover {
    background: url("../img/icon/sprite-social.png") 0px -56px;
    transition: 500ms;
  }
}

.delivery-info {
  font-family: "Montserrat", Sans-serif;
  font-size: 13px;
  font-weight: 200;
  letter-spacing: 2.7px;
  color: rgba(255,255,255, .9);
  text-align: center;
  margin: 40px 0 50px;
}

.copyright {
  font-family: "Montserrat", Sans-serif;
  font-size: 13px;
  letter-spacing: 2.7px;
  text-align: center;
  color: rgba(255,255,255,0.65);
  padding-bottom: 25px;

  & p {
    padding: 0 10px;

    &:first-child {
      border-right: 1px solid rgba(255,255,255,0.65);
    }
  }
}

