.gallery-print {
  margin: 35px 0;
}

.gallery_product{
  margin: 0px;
  padding:0;
  position:relative;
  overflow: hidden;
}
.gallery_product .img-info{
  position: absolute;
  background: rgba(255,119,0,.8);
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px;
  overflow:hidden;
  color:#fff;
  top:0;
  display:none;
  -webkit-transition: 2s;
  transition: 2s;
}

.gallery_product:hover .img-info{
  display:flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  -webkit-transition: 2s;
  transition: 2s;
}

.gallery-img {
  object-fit: fill;
  height: 350px;
  width: 100%;
}