/* Main menu */

.toolbar {
  background-color: black;
  min-height: 50px;
}

.phone-icon {
  background-image: url("img/icon/phone.svg");
}

.toolbar-item {
  font-family: "Roboto", Sans-serif;
  color: white;

  &:first-child {
    margin-right: 30px;
  }
}

.toolbar-phone {
  color: white;
  padding-left: 12px;

  &:hover {
    color: white;
  }
}

.toolbar-mail {
  color: white;
  padding-left: 12px;

  &:hover {
    color: white;
  }
}

.social-icon-head {
  height: 18px;
  width: 18px;
  margin: 0 8px;
}

.ig-h {
  background: url("../img/icon/sprite-header-white.png");
  transition: 500ms;

  &:hover {
    transition: 500ms;
    background: url("../img/icon/sprite-header.png");
  }
}

.fb-h {
  background: url("../img/icon/sprite-header-white.png") 0px -18px;
  transition: 500ms;

  &:hover {
    background: url("../img/icon/sprite-header.png") 0px -18px;
    transition: 500ms;
  }
}

.tg-h {
  background: url("../img/icon/sprite-header-white.png") 0px -36px;
  transition: 500ms;

  &:hover {
    background: url("../img/icon/sprite-header.png") 0px -36px;
    transition: 500ms;
  }
}

.logo-section {
  margin: 15px 0;
}

.bg-menu-light {
  background-color: #efefef;
}

.mobile-btn-menu {
  border: none;
}

.nav-container {
  border-top: 1px dotted #000;
  margin-bottom: 3px;
}

.navbar-nav > a.menu-item {
  font-family: "Montserrat", Sans-serif;
  font-weight: 500;
  color: #000000;
  padding: 8px 40px;
  text-align: center;
  font-size: 19px;
}