@media screen and (min-width: 768px) {
  .upgrade-desc {
    padding: 0 15%;
  }

  .box-slider-wrap {
    width: 90%;
  }

  .navbar-nav > a.menu-item {
    border-width: 4px 0 4px 0;
    border-color: transparent;
    border-style: solid;
    transition: 1s;

    &:hover {
      border-color: #FF6C00;
      border-style: solid;
      border-width: 4px 0 4px 0;
      transition: 1s;
    }
  }

  .title-slider {
    font-size: 34px;
    margin-top: 50px;

    &:last-child {
      margin-bottom: 55px;
    }
  }

  .order {
    margin: 90px 0;
  }

  .order-title {
    font-size: 41px;
    margin-bottom: 80px;
  }

  .content-print {
    padding: 70px 0;
  }

  .video-block {
    margin: 50px 0;

    &-desc {
      font-size: 28px;
      margin: 50px 0;
    }
  }

  .gallery-print {
    margin: 60px 0;
  }

  .prod-title-section {
    font-size: 36px;
  }

  .prod-block-title {
    font-size: 25px;
  }

  .production {
    margin-bottom: 60px;
  }

  .foote-logo-section img {
    margin-top: 50px;
  }

  .bg-menu-light {
    background-color: transparent;
  }

  .title-thk {
    font-size: 87px;
  }

}

