.modal-dialog-full-width {
  width: 100% !important;
  height: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
  max-width:none !important;

}

.modal-content-full-width  {
  height: auto !important;
  min-height: 100% !important;
  border-radius: 0 !important;
}

.modalOrder {

  & img {
    margin-bottom: 25px;
  }

  & p {
    color: #000000;
    font-weight: 500;
    margin: 0;
    font-family: "Montserrat", Sans-serif;
  }

  & a {
    color: #000000;
    font-weight: 500;
    margin: 0;
    font-family: "Montserrat", Sans-serif;
  }

  & h3 {
    color: #000000;
    font-family: "Montserrat", Sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin: 25px;
  }
}