.order {
  margin: 30px 0;
}

.order-item {
  padding: 0 30px;
}

.order-title {
  font-family: "Montserrat", Sans-serif;
  font-size: 24px;
  color: black;
  font-weight: 600;
  text-align: center;
  margin-bottom: 35px;
}

.order-number {
  padding: 8px;
  border-radius: 100%;
  background-color: black;
  color: white;
  font-weight: 600;
  text-align: center;
  font-family: "Montserrat", Sans-serif;
  display: block;
  height: 45px;
  width: 45px;
  font-size: 20px;
}

.order-title-item {
  color: #000000;
  font-family: "Montserrat", Sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin-top: 25px;
  text-align: center;

  & a {
    color: inherit;

    &:hover {
      color: inherit;
    }
  }
}

.order-desc {
  color: #000000;
  font-family: "Montserrat", Sans-serif;
  font-weight: 500;
  text-align: center;
}

.ig-review {
  background: url("../img/icon/sprite-social-black.png");
  transition: 500ms;

  &:hover {
    transition: 500ms;
    background: url("../img/icon/sprite-social.png");
  }
}

.fb-review {
  background: url("../img/icon/sprite-social-black.png") 0px -28px;
  transition: 500ms;

  &:hover {
    background: url("../img/icon/sprite-social.png") 0px -28px;
    transition: 500ms;
  }
}
.tg-review {
  background: url("../img/icon/sprite-social-black.png") 0px -56px;
  transition: 500ms;

  &:hover {
    background: url("../img/icon/sprite-social.png") 0px -56px;
    transition: 500ms;
  }
}