.production {
  margin-bottom: 20px;
}

.prod-title-section {
  font-family: "Montserrat", Sans-serif;
  font-size: 27px;
  color: black;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.prod-image {
  padding-bottom: 25px;
}

#carouselControls:before {
  content:"";
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background-color:black;
  opacity:0.3;
}

.prod-block-title {
  font-family: "Montserrat", Sans-serif;
  font-size: 23px;
  line-height: 1.2em;
  color: black;
  font-weight: 600;
}

.prod-block-desc {
  font-weight: 600;
  font-family: "Montserrat", Sans-serif;
  font-size: 18px;
  color: black;

  & a{
    color: black;

    &:hover {
      color: inherit;
    }
  }
}

.all-product {
  color: #7a7a7a;
  font-family: "Montserrat", Sans-serif;
  font-size: 18px;

  & li {
    padding: 5px 0;
  }
}