.promo-prod {
  margin: 50px 0;
}

.promo-prod-content {

  & h3 {
    font-family: "Montserrat", Sans-serif;
    font-size: 24px;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    color: black;
    margin-bottom: 20px;
  }

  & h4 {
    color: rgba(0,0,0,0.49);
    font-family: "Montserrat", Sans-serif;
    font-size: 18px;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
  }

  & ul {
    color: #7a7a7a;
    font-family: "Roboto", Sans-serif;
  }

  & p {
    color: #7a7a7a;
    font-family: "Roboto", Sans-serif;
    padding: 10px 0;

    & a {
      color: #7a7a7a;

      &:hover {
        color: inherit;
      }
    }
  }
}

