.promo-print {
  background: rgb(255,109,0);
  background: linear-gradient(0deg, rgba(255,109,0,1) 0%, rgba(255,161,0,1) 100%);
}

.content-print {
  padding: 35px 0;
}

.promo-item {
  padding: 0 50px;
}

.promo-title {
  color: #ffffff;
  font-family: "Montserrat", Sans-serif;
  font-size: 18px;
  font-weight: 600;
}

.promo-text {
  color: #ffffff;
  font-family: "Montserrat", Sans-serif;
  font-weight: 500;
  text-align: center;
}

.promo-btn {
  font-family: "Montserrat", Sans-serif;
  font-weight: 600;
  letter-spacing: 2.2px;
  color: #ffffff;
  background-color: #000000;
  border-radius: 30px 30px 30px 30px;
  padding: 15px 35px;
  text-transform: uppercase;
  border: none;

  &:hover {
    color: white;
    border: none;
  }
}