.slider-promo {
  min-height: 750px;
}

#animated-background {
  background-position:center;
  background-color:#000;
  position: relative;
  background-image: url("../img/first-slide/1.jpg");
  background-repeat: no-repeat;
  transition: background 1s;
  background-size: cover;
}

#animated-background:before {
  content:"";
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background-image: url("../img/pattern.png");
  background-position: top left;
}

.title-container {
  text-align: center;
}

.title-slider {
  display: inline-block;
  font-family: "Montserrat", Sans-serif;
  font-weight: 600;
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
  color: white;
  background-color: $maincolor;
  padding: 5px 30px;
  margin-bottom: 20px;

  &:last-child {
    margin-top: 0;
  }
}

.form-card {
  width: 305px;
  border-radius: 10%;
}

.btn-submit-form {
  font-family: "Montserrat", Sans-serif;
  text-transform: uppercase;
  border: 1px solid $maincolor;
  font-weight: 600;
  background-color: $maincolor;
  color: white;
  border-radius: 20px 20px 20px 20px;

  &:hover {
    background-color: $maincolor;
    color: white;
  }
}

.box-slider-wrap {
  padding: 20px 15px;
  background-color: rgba(0,0,0, .8);
  margin-bottom: 20px;
}

.box-slider-text {
  margin: 0;
}

.header-card {
  background-color: transparent;
  border-bottom: none;
  padding-bottom: 0;
}