.body-thk {
  height: 80vh;
  color: black;
}

.title-thk {
  font-family: Roboto, sans-serif;
  font-size: 55px;
  font-weight: 600;
  letter-spacing: 6.2px;
  line-height: 87px;
  text-decoration: none solid rgb(0, 0, 0);
  text-align: center;
  word-spacing: 0;
}

.desc-thk {
  font-size: 14px;
  text-align: center;
}

.thk-btn {
  background-color: black;
  border-color: black;
  transition: 500ms;
  display: inline;
  letter-spacing: 0.7px;
  padding: 8px 24px;
  font-size: 14px;

  &:hover {
    background-color: black;
    transform: scale(0.85);

  }
}

.footer-thk {
  color: black;
}

.social-icon-thk {
  height: 28px;
  width: 28px;
  margin: 0 8px;
}

.ig-tk {
  background: url("../img/icon/sprite-social-black.png");
  transition: 500ms;

  &:hover {
    transition: 500ms;
    background: url("../img/icon/sprite-social.png");
  }
}

.fb-tk {
  background: url("../img/icon/sprite-social-black.png") 0px -28px;
  transition: 500ms;

  &:hover {
    background: url("../img/icon/sprite-social.png") 0px -28px;
    transition: 500ms;
  }
}

.tg-tk {
  background: url("../img/icon/sprite-social-black.png") 0px -56px;
  transition: 500ms;

  &:hover {
    background: url("../img/icon/sprite-social.png") 0px -56px;
    transition: 500ms;
  }
}