.upgrade-section {
  background-color: #000;
  padding-bottom: 50px;
}

.upgrade-title {
  font-family: "Montserrat", Sans-serif;
  font-size: 37px;
  font-weight: 500;
  color: white;
  text-align: center;
  padding-top: 50px;
}

.upgrade-desc {
  font-family: "Montserrat", Sans-serif;
  font-size: 19px;
  font-weight: 400;
  line-height: 1.5em;
  text-shadow: 0px 0px 10px rgba(0,0,0,0);
  color: white;
  text-align: center;
}

.upgrade-item {
  padding: 0 10%;
}

.upgrade-img {
  margin: 25px 0;
}

.upgrade-title-item {
  color: #ffffff;
  font-family: "Montserrat", Sans-serif;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
}

.upgrade-text-item {
  color: #ffffff;
  font-family: "Montserrat", Sans-serif;
  font-weight: 500;
  text-align: center;
}