.video-block {
  margin: 35px 0;
}

.video-title-anim {
  color: #000000;
  font-family: "Montserrat", Sans-serif;
  font-size: 36px;
  font-weight: 600;
  text-align: center;

  & div {
    display: inline;
    color: #ff6d00;
    font-family: "Montserrat", Sans-serif;
    font-weight: 900;
  }
}

.video-block-desc {
  font-family: "Montserrat", Sans-serif;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  color: black;
  margin: 25px 0;
}

.video-item-desc {
  font-family: "Montserrat", Sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: black;
  text-align: center;
}
