<footer class="print-footer">
    <div class="container">
        <div class="foote-logo-section d-flex justify-content-center">
            <img src="img/logo-footer.png" height="65px" alt="Print-Orange Logo">
        </div>
        <div class="footer-social-button d-flex justify-content-center">
            <a href="https://www.instagram.com/print_orange/" class="social-icon ig"></a>
            <a href="https://www.facebook.com/printorangecomua" class="social-icon fb"></a>
            <a href="https://t.me/PrintOrangee" class="social-icon tg"></a>
        </div>
        <div class="delivery-info">
            <p>Доставка по всей Украине Новой Почтой, самовывоз - г. Киев!</p>
        </div>
        <div class="copyright d-flex align-items-center justify-content-center">
            <p>Design ART FOX DIGITAL STUDIO</p>
            <p>Front-end dev Ruslan</p>
        </div>
    </div>
</footer>