<div id="gallery-block" class="gallery-print">
    <div class="container-fluid">
        <div class="row">
            <div class="gallery_product col-sm-3 col-xs-6">
                <a class="container-img" rel="ligthbox" href="img/gallery/1.jpg" data-fancybox="gallery" data-caption="Этикетки">
                    <img class="gallery-img" alt="" src="img/gallery/1.jpg" />
                    <div class='img-info'>
                        <h4>Этикетки</h4>
                    </div>
                </a>
            </div>

            <div class="gallery_product col-sm-3 col-xs-6">
                <a class="container-img" rel="ligthbox" href="img/gallery/2.jpg" data-fancybox="gallery" data-caption="Маленькие наклейки">
                    <img class="gallery-img" alt="" src="img/gallery/2.jpg" />
                    <div class='img-info'>
                        <h4>Маленькие наклейки</h4>
                    </div>
                </a>
            </div>

            <div class="gallery_product col-sm-3 col-xs-6">
                <a class="container-img" rel="ligthbox" href="img/gallery/3.jpg" data-fancybox="gallery" data-caption="Фольгированные этикетки">
                    <img class="gallery-img" alt="" src="img/gallery/3.jpg" />
                    <div class='img-info'>
                        <h4>Фольгированные этикетки</h4>
                    </div>
                </a>
            </div>

            <div class="gallery_product col-sm-3 col-xs-6">
                <a class="container-img" rel="ligthbox" href="img/gallery/4.jpg" data-fancybox="gallery" data-caption="Термостойкие наклейки">
                    <img class="gallery-img" alt="" src="img/gallery/4.jpg" />
                    <div class='img-info'>
                        <h4>Термостойкие наклейки</h4>
                    </div>
                </a>
            </div>

            <div class="gallery_product col-sm-3 col-xs-6">
                <a class="container-img" rel="ligthbox" href="img/gallery/5.jpg" data-fancybox="gallery" data-caption="Наклейки на прозрачной пленке">
                    <img class="gallery-img" alt="" src="img/gallery/5.jpg" />
                    <div class='img-info'>
                        <h4>Наклейки на прозрачной пленке</h4>
                    </div>
                </a>
            </div>

            <div class="gallery_product col-sm-3 col-xs-6">
                <a class="container-img" rel="ligthbox" href="img/gallery/6.jpg" data-fancybox="gallery" data-caption="Наклейки для баночек">
                    <img class="gallery-img" alt="" src="img/gallery/6.jpg" />
                    <div class='img-info'>
                        <h4>Наклейки для баночек</h4>
                    </div>
                </a>
            </div>

            <div class="gallery_product col-sm-3 col-xs-6">
                <a class="container-img" rel="ligthbox" href="img/gallery/7.jpg" data-fancybox="gallery" data-caption="Печать шрих-кода на этикетке">
                    <img class="gallery-img" alt="" src="img/gallery/7.jpg" />
                    <div class='img-info'>
                        <h4>Печать шрих-кода на этикетке</h4>
                    </div>
                </a>
            </div>

            <div class="gallery_product col-sm-3 col-xs-6">
                <a class="container-img" rel="ligthbox" href="img/gallery/8.jpg" data-fancybox="gallery" data-caption="Фигурные этикетки">
                    <img class="gallery-img" alt="" src="img/gallery/8.jpg" />
                    <div class='img-info'>
                        <h4>Фигурные этикетки</h4>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>