<header class="print-header">
    <section class="toolbar py-2 py-md-0 d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 d-flex flex-column flex-md-row">
                    <div class="toolbar-item text-center text-md-left">
                        <svg class="bi bi-phone" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M11 1H5a1 1 0 00-1 1v12a1 1 0 001 1h6a1 1 0 001-1V2a1 1 0 00-1-1zM5 0a2 2 0 00-2 2v12a2 2 0 002 2h6a2 2 0 002-2V2a2 2 0 00-2-2H5z" clip-rule="evenodd"/>
                            <path fill-rule="evenodd" d="M8 14a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd"/>
                        </svg>
                        <a href="tel:0731412494
    " class="toolbar-phone">+38 (073) 141 24 94
                        </a>
                    </div>
                    <div class="toolbar-item py-2 py-md-0 text-center text-md-left">
                        <svg class="bi bi-envelope" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M14 3H2a1 1 0 00-1 1v8a1 1 0 001 1h12a1 1 0 001-1V4a1 1 0 00-1-1zM2 2a2 2 0 00-2 2v8a2 2 0 002 2h12a2 2 0 002-2V4a2 2 0 00-2-2H2z" clip-rule="evenodd"/>
                            <path fill-rule="evenodd" d="M.071 4.243a.5.5 0 01.686-.172L8 8.417l7.243-4.346a.5.5 0 01.514.858L8 9.583.243 4.93a.5.5 0 01-.172-.686z" clip-rule="evenodd"/>
                            <path d="M6.752 8.932l.432-.252-.504-.864-.432.252.504.864zm-6 3.5l6-3.5-.504-.864-6 3.5.504.864zm8.496-3.5l-.432-.252.504-.864.432.252-.504.864zm6 3.5l-6-3.5.504-.864 6 3.5-.504.864z"/>
                        </svg>
                        <a href="mailto:print.orange.print@gmail.com
    " class="toolbar-mail">print.orange.print@gmail.com
                        </a>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="social-button-header d-flex justify-content-center justify-content-md-end">
                        <a href="https://www.instagram.com/print_orange/" class="social-icon-head ig-h"></a>
                        <a href="https://www.facebook.com/printorangecomua" class="social-icon-head fb-h"></a>
                        <a href="https://t.me/PrintOrangee" class="social-icon-head tg-h"></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="header">
        <div class="logo-section d-flex justify-content-center">
            <img src="img/print-orange.png" height="60px" alt="Print-Orange Logo">
        </div>
        <div class="menu-section">
            <div class="container nav-container">
                <nav class="navbar navbar-expand-md navbar-light py-md-0">
                    <span class="navbar-brand d-inline-block d-md-none" >Меню</span>
                    <button class="navbar-toggler mobile-btn-menu" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <div class="navbar-nav mx-auto">
                            <a href="#stickers" class="menu-item">Виды наклеек</a>
                            <a href="#order" class="menu-item">Как заказать</a>
                            <a href="#production" class="menu-item">Все услуги</a>
                            <a href="#gallery-block" class="menu-item">Галерея</a>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </section>
</header>