<div class="modal" id="modalOrder" tabindex="-1" role="dialog" aria-labelledby="modalOrder" aria-hidden="true">
    <div class="modal-dialog-full-width modal-dialog modal-fluid" role="document">
        <div class="modal-content-full-width modal-content border-0">
            <div class=" modal-header-full-width modal-header border-0">
                <button type="button" class="close " data-dismiss="modal" aria-label="Close">
                    <span style="font-size: 1.3em;" aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body modalOrder d-flex flex-column align-items-center justify-content-center">
                <img src="img/print-orange.png" width="300px" alt="">
                <p class="text-center">Оставьте свои контакты и наш менеджер свяжется с Вами в ближайшее время!</p>
                <p class="text-center py-2 py-md-0">Связаться с нами можно по тел: (073) 141 24 94 или напишите нам письмо на почту</p>
                <a href="mailto:print.orange.print@gmail.com" class="text-center">print.orange.print@gmail.com</a>
                <h3>ПРИ ЗАКАЗЕ НА СУММУ ОТ 1000 UAH — ДИЗАЙН В ПОДАРОК!</h3>
                <form class="w-75" method="POST" action="mail.php" enctype="multipart/form-data">
                    <div class="form-group">
                        <input type="text" class="form-control" id="orderName" name="user_name" placeholder="Имя">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" id="orderMail" name="user_email" aria-describedby="emailHelp" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="orderPhone" name="user_phone" placeholder="Телефон">
                    </div>
                    <div class="form-group">
                        <input type="file" class="form-control-file" id="orderFile" name="upload">
                    </div>
                    <div class="form-group d-flex justify-content-center">
                        <button type="submit" class="promo-btn my-auto">Отправить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>