<section class="order">
    <div class="container">
        <h2 class="order-title">ЭКОНОМЬ ВРЕМЯ И ДЕНЬГИ</h2>
        <div class="row">
            <div class="com-12 col-md-4">
                <div class="order-item d-flex flex-column align-items-center">
                    <span class="order-number">1</span>
                    <h3 class="order-title-item">Оставьте заявку на сайте</h3>
                    <p class="order-desc">Оставляете заявку на нашем сайте и менеджер свяжется с вами для уточнения деталей в ближайшее время.</p>
                    <a href="#" class="promo-btn" data-toggle="modal" data-target="#modalOrder">Отправить заявку</a>
                </div>
            </div>
            <div class="com-12 col-md-4 my-4 my-md-0">
                <div class="order-item d-flex flex-column align-items-center">
                    <span class="order-number">2</span>
                    <h3 class="order-title-item">Отправляете макет нам на почту <a href="mailto:print-orange@gmail.com">print-orange@gmail.com</a></h3>
                    <p class="order-desc">Мы просчитаем стоимость Вашей продукции, исходя из размера, материала и количества.</p>
                    <a href="#" class="promo-btn" data-toggle="modal" data-target="#modalOrder">Отправить макет</a>
                </div>
            </div>
            <div class="com-12 col-md-4">
                <div class="order-item d-flex flex-column align-items-center">
                    <span class="order-number">3</span>
                    <h3 class="order-title-item">Выбор оплаты и доставки</h3>
                    <p class="order-desc">Выберите удобный способ оплаты и доставки. Мы изготовим Вашу продукцию в течении 1 дня и доставим прямо Вам в офис.</p>
                    <p href="#" class="order-desc" style="font-weight: 600">Будем рады Вашему отзыву</p>
                    <div class="social-button-review d-flex justify-content-end">
                        <a href="https://www.instagram.com/print_orange/" class="social-icon ig-review"></a>
                        <a href="https://www.facebook.com/printorangecomua" class="social-icon fb-review"></a>
                        <a href="https://t.me/PrintOrangee" class="social-icon tg-review"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>