<section class="production">
    <div class="container">
        <h2 class="prod-title-section">ПРОДУКЦИЯ И УСЛУГИ</h2>
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="prod-image">
                    <div id="carouselControls" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img class="d-block w-100" src="./img/second-slider/5.png" alt="First slide">
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="./img/second-slider/1.png" alt="Second slide">
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="./img/second-slider/2.png" alt="Third slide">
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="./img/second-slider/3.png" alt="Third slide">
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="./img/second-slider/4.png" alt="Third slide">
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselControls" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselControls" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <h3 class="prod-block-title text-center text-md-left mb-4 mb-md-0">Наша оперативная типография предоставляет большой спектр услуг</h3>
                <p class="prod-block-desc">Для заказа услуг достаточно позвонить <a href="tel:0731412494" class="prod-tel">073 141 24 94</a></p>
                <ul class="all-product">
                    <li class="item">Этикетки и наклейки</li>
                    <li class="item">Штрихкода</li>
                    <li class="item">Визитки и флаера</li>
                    <li class="item">Каталоги и брошуры</li>
                    <li class="item">Папки и конверты</li>
                    <li class="item">Изготовление упаковок</li>
                    <li class="item">Плакаты и листовки</li>
                    <li class="item">Дизайн разработка</li>
                </ul>
            </div>
        </div>
    </div>
</section>