<section id="stickers" class="promo-print">
    <div class="container content-print">
        <div class="row">
            <div class="col-12 col-md-4">
                <div class="promo-item d-flex align-items-center flex-column">
                    <img src="img/promo/nakleyki_kryglue.png" alt="" height="225px" class="promo-img">
                    <h3 class="promo-title">Наклейки простой формы</h3>
                    <p class="promo-text">Круглые наклейки отлично подходят для этикеток разного назначения. Вы получаете листы А3 формата с наклейками, которые легко отделяются от основы. Выбирайте любой диаметр от 15 мм.</p>
                    <a href="#" class="promo-btn" data-toggle="modal" data-target="#modalOrder">Заказать</a>
                </div>
            </div>
            <div class="col-12 col-md-4 my-4 my-md-0">
                <div class="promo-item d-flex align-items-center flex-column">
                    <img src="img/promo/zakazat_pryamoygolnue_nakleyki.png" alt="" height="225px" class="promo-img">
                    <h3 class="promo-title">Прямоугольные наклейки</h3>
                    <p class="promo-text">Прямоугольные наклейки с закругленными краями будут смотреться на Вашей продукции более стильно. Мы напечатаем и порежем наклейки любого размера. Вам останется только наклеить!</p>
                    <a href="#" class="promo-btn" data-toggle="modal" data-target="#modalOrder">Заказать</a>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="promo-item d-flex align-items-center flex-column">
                    <img src="img/promo/nakleyki_figurnue.png" alt="" height="225px" class="promo-img">
                    <h3 class="promo-title">Фигурные наклейки</h3>
                    <p class="promo-text">Плоттерная порезка позволяет вырезать наклейки любых форм из разных материалов (самоклеющаяся бумага/пленка). Наклейки – эффективный рекламный помощник для вашего бизнеса.</p>
                    <a href="#" class="promo-btn" data-toggle="modal" data-target="#modalOrder">Заказать</a>
                </div>
            </div>
        </div>
    </div>
</section>