<section class="promo-prod">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 mb-4 mb-md-0">
                <div class="promo-prod-content d-flex flex-column align-items-center">
                    <h3>ДИЗАЙН УПАКОВОК И ЭТИКЕТОК</h3>
                    <ul>
                        <li>Разработка логотипа — от 300 UAH</li>
                        <li>Разработка макета наклейки — от 150 UAH</li>
                        <li>Разработка логотипа, стиля и упаковки Вашей продукции — от 500 UAH </li>
                    </ul>
                    <p>* При заказе на сумму от 1000 грн — 1 макет наклейки в подарок, при наличии логотипа!</p>
                    <p>Также разрабатываем дизайн меню, коробок, плакатов, блокнотов, журналов, каталогов, создаем фирменный стиль, брендирование, веб-дизайн (баннера, креативы, веб-элементы).</p>

                    <h3>ПЕЧАТЬ НАКЛЕЕК И ЭТИКЕТОК</h3>
                    <ul>
                        <li>Минимальный заказ от 10 листов А3 формата. </li>
                        <li>Материал самоклеющаяся бумага — 35 UAH за лист</li>
                        <li>Материал пленка — 45 UAH за лист</li>
                        <li>НОВИНКА! Винный материал — 60 UAH за лист</li>
                    </ul>
                    <p>Стоимость также зависит от тиража, подробную информацию можно узнать у наших менеджеров — <a
                            href="tel:0731412494">0731412494</a> Вайбер</p>

                    <h3>РАЗРАБОТКА LANDING PAGE</h3>
                    <h4>ДЛЯ ВАШЕГО БИЗНЕСА</h4>
                    <p>Разработка одностраничного сайта для услуг или товара от 6000 UAH. В стоимость входит разработка логотипа, концепция сайта, дизайн сайта (от 5 блоков), верстка и программирование. План продвижение сайта в ПОДАРОК! Хостинг и домен оплачивается дополнительно. </p>
                    <a href="#" class="promo-btn" data-toggle="modal" data-target="#modalOrder">Отправить заявку</a>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="promo-prod-img">
                    <img src="img/first-slide/2.jpg" alt="" class="img-fluid pb-3">
                    <img src="img/first-slide/1.jpg" alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</section>