<section id="animated-background" class="slider-promo py-3 py-md-0">
    <div class="container">
        <div class="row">
            <div class="col-md-12 title-container">
                <span class="title-slider">ПЕЧАТАЕМ НАКЛЕЙКИ И ЭТИКЕТКИ ВЫГОДНО!</span>
                <span class="title-slider">ЛЮБОЙ ФОРМЫ И РАЗМЕРА</span>
            </div>
            <div class="col-md-8">
                <div class="box-slider-wrap text-light text-center text-md-left">
                    <h3 class="box-slider-title">ПЕЧАТЬ В ТЕЧЕНИИ ДНЯ</h3>
                    <p class="box-slider-text">Оперативная печать этикеток, наклеек, штрихкодов любой формы и размеров.</p>
                </div>
                <div class="box-slider-wrap text-light text-center text-md-left">
                    <h3 class="box-slider-title">ПРОВЕРЕНО КАЧЕСТВОМ</h3>
                    <p class="box-slider-text">Наши наклейки не боятся воды, качество печати UltraHD, просто и быстро отделяются от основы!</p>
                </div>
                <div class="box-slider-wrap text-light text-center text-md-left">
                    <h3 class="box-slider-title">ДИЗАЙН НАКЛЕЙКИ В ПОДАРОК</h3>
                    <p class="box-slider-text">Наши дизайнеры быстро разработают макет Вашей будущей этикетки в подарок при заказе на сумму от 1000 грн.</p>
                </div>
                <div class="box-slider-wrap text-light text-center text-md-left">
                    <h3 class="box-slider-title">ВЫБОР ЛЮБОГО МАТЕРИАЛА</h3>
                    <p class="box-slider-text">На самоклеющейся пленке, бумаге, на прозрачной пленке, металлизированной или дизайнерской - выбирать Вам!</p>
                </div>
            </div>
            <div class="col-md-4 d-flex align-items-center justify-content-center">
                <div class="card form-card">
                    <h5 class="card-header info-color white-text text-center pt-4 px-5 header-card">
                        <strong>ЗАКАЖИ НАКЛЕЙКИ ПРЯМО СЕЙЧАС</strong>
                    </h5>
                    <div class="card-body px-lg-5">
                        <form class="text-center" style="color: #757575;" method="POST" action="mail.php">
                            <div class="md-form mt-3">
                                <input type="text" placeholder="Имя" name="user_name" class="form-control">
                            </div>
                            <div class="md-form py-3">
                                <input type="email" placeholder="Email" name="user_email" class="form-control">
                            </div>
                            <div class="md-form">
                                <input type="text" placeholder="Телефон" name="user_phone" class="form-control">
                            </div>
                            <button class="btn btn-submit-form btn-rounded btn-block my-4" type="submit">Отправить</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>