<section class="upgrade-section">
    <h3 class="upgrade-title mb-4 mb-md-0">КАК УЛУЧШИТЬ НАКЛЕЙКИ?</h3>
    <p class="upgrade-desc">Мы можем сделать Ваши этикетки более красивыми и защищенными от воздействия окружающей среды</p>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4">
                <div class="upgrade-item d-flex align-items-center flex-column">
                    <img src="img/upgrade/1.png" alt="" height="225px" class="upgrade-img">
                    <h3 class="upgrade-title-item">ЛАМИНАЦИЯ</h3>
                    <p class="upgrade-text-item">Ламинация наклеек, этикеток и любой другой полиграфической продукции защитит Ваше изделие от влаги и механических повреждений. Благодаря ламинации изделие становится более насыщенных оттенков. Ламинация может быть глянцевой и матовой. При матовой ламинации наклейки, визитки приобретают бархатный вид и становятся приятными на ощупь.</p>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="upgrade-item d-flex align-items-center flex-column">
                    <img src="img/upgrade/2.png" alt="" height="225px" class="upgrade-img">
                    <h3 class="upgrade-title-item">УФ-ЛАК</h3>
                    <p class="upgrade-text-item">УФ-лак придаст красивый глянцевый вид, при выборочном покрытии отельных элементов уф-лаком Ваша продукция будет выглядеть дорого и изысканно. Это не только хорошая защита, но и отличное дизайнерское решение для любой полиграфической продукци. УФ-лак может быть глянцевый, матовый, песочный или пигментированный.</p>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="upgrade-item d-flex align-items-center flex-column">
                    <img src="img/upgrade/3.png" alt="" height="225px" class="upgrade-img">
                    <h3 class="upgrade-title-item">ТИСНЕНИЕ</h3>
                    <p class="upgrade-text-item">Вы хотите, чтоб Ваша этикетка была самой изысканной с золотыми, серебристыми или любыми металлизированными элементами? Тогда мы сделаем тиснение и придадим мерцающий эффект. Такой вид получается благодаря нанесению цветной фольги с помощью высокой температуры и большого давления.</p>
                </div>
            </div>
        </div>
    </div>
</section>