<section class="video-block">
    <div class="container">
        <h3 id="changethewords" class="video-title-anim">Сделай свою этикетку <div class="ml4">
            <span data-id="1">Красочной</span>
            <span data-id="2">Необычной</span>
            <span data-id="3">Незабываемой</span>
        </div></h3>
        <p class="video-block-desc">ПРОЦЕСС СОЗДАНИЯ НАКЛЕЕК ДОСТАТОЧНО УВЛЕКАТЕЛЬНЫЙ;)</p>
        <div class="row">
            <div class="col-12 col-md-4">
                <div class="video-item d-flex flex-column align-items-center">
                    <iframe width="353" height="199" src="https://www.youtube.com/embed/sB0k1i7Sq_s" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <p class="video-item-desc">Этикетки для бутылок</p>
                </div>
            </div>
            <div class="col-12 col-md-4 my-2 my-md-0">
                <div class="video-item d-flex flex-column align-items-center">
                    <iframe width="353" height="199" src="https://www.youtube.com/embed/uEpvv8W8n4c" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <p class="video-item-desc">Этикетки для бутылок</p>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="video-item d-flex flex-column align-items-center">
                    <iframe width="353" height="199" src="https://www.youtube.com/embed/d_jAPW0kQuE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <p class="video-item-desc">Этикетки для бутылок</p>
                </div>
            </div>
        </div>
    </div>
</section>