@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;900&family=Roboto&display=swap');

$maincolor: #FF6C00;

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

body {
  overflow-x: hidden;
}

@import "section/header.scss";
@import "section/slider.scss";
@import "section/order.scss";
@import "section/promo.scss";
@import "section/video-block.scss";
@import "section/upgrade.scss";
@import "section/promoprod.scss";
@import "section/gallery.scss";
@import "section/prodandserv.scss";
@import "section/footer.scss";
@import "section/thanks.scss";
@import "section/media.scss";
@import "section/modal.scss";
